{% extends 'base.html' %}

{% block content %}
    <h3 style="border: 2px solid Tomato;"><Center>Name:</Center></h3>
    <h4><b><Center>{{nama}}</Center></b></h4>

    <h3 style="border: 2px solid Tomato;"><Center>Student ID:</Center></h3>
    <h4><Center>{{npm}}</Center></h4>

    <table syle="width:100%">
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Watched</th>
            <th>Rating</th>
            <th>Review</th>
        </tr>

        {% for movie in movie_list %}
            <tr>
                <th>{{movie.title}}</th>
                <th>{{movie.release_date}}</th>
                <th>{{movie.watched}}</th>
                <th>{{movie.rating}}</th>
                <th>{{movie.review}}</th>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}